{% load staticfiles %}
<html>

<head>
<link rel="stylesheet" type="text/css" href="{% static 'json_bridge/css/bootstrap.min.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'json_bridge/js/bootstrap.min.js' %}"></script>
</head>

<body background="{% static 'json_bridge/banner.jpg' %}" >
<div class="fluid-container"> 
  <nav class="navbar navbar-inverse">
   <div class="container-fluid">
     <div class="navbar-header">
       <a class="navbar-brand" href="#">DataHub</a>
     </div>
   <form class="navbar-form navbar-right">
	<input type="button" class="btn btn-default"  name="logout"  value="logout">	
   </form>
   </div>
  </nav>
  
  <div class="row" style="margin-right: 15px;margin-left: 15px;">
	<div class="col-md-4" >
		<div class="panel panel-default" >
			<div class="panel-heading">
				<h3 class="panel-title">DataSet</h3>
			</div>
			<div class="panel-body" style="height:470px;overflow:auto;">
				<!--backend code-->
				<div class="list-group">
					<a href="#" class="list-group-item">dataset1</a>
					<a href="#" class="list-group-item">dataset2</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-8" >
		 <div class=panel panel-default>
                        <div class="panel-body" style="height:510px;overflow:auto;" >
                                <!--backend code-->
				{% for row in data %}
	                        <h3>{{row}}</h3><br>
        		        {% endfor %}
                        </div>
                </div>
	</div>
  </div>

</div>
</body>
</html>

